.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
}

.logo {
  display: flex;
  align-items: center;

  > h1 {
    margin: 0 0 0 2rem;
    font-size: 4rem;
  }
}

.svg {
  width: 5rem;
  height: 5rem;

  path {
    fill: $text;
  }
}
