$green: #30b471ff;
$bg: #1f363dff;
$blue: #5fbff9ff;
$yellow: #ffd400ff;
$text: #f5f1e3ff;

$break-mini: 374px;
$break-small: 425px;
$break-tablet: 768px;
$break-medium: 1024px;
$break-large: 1210px;
$break-header: 1600px;
$break-header-xl: 1700px;
